week01-chapter03/flows.json
[
    {
        "id": "9d18c88df7a544b7",
        "type": "tab",
        "label": "フロー 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a37f6d192f33bdf3",
        "type": "http in",
        "z": "9d18c88df7a544b7",
        "name": "",
        "url": "/page/index",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 300,
        "y": 220,
        "wires": [
            [
                "2bf9c888091c78a7"
            ]
        ]
    },
    {
        "id": "8561df5db591db01",
        "type": "http response",
        "z": "9d18c88df7a544b7",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 790,
        "y": 220,
        "wires": []
    },
    {
        "id": "2bf9c888091c78a7",
        "type": "template",
        "z": "9d18c88df7a544b7",
        "name": "Index の HTML ソース",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<html>\n  <head>\n    <title>Index</title>\n  </head>\n  <body>\n    <h1>Index</h1>\n  </body>\n</html>",
        "output": "str",
        "x": 560,
        "y": 220,
        "wires": [
            [
                "8561df5db591db01"
            ]
        ]
    }
]